apiVersion: v1
kind: Service
metadata:
  name: headwind-webhook
  namespace: headwind-system
  labels:
    app: headwind
spec:
  type: ClusterIP
  ports:
  - name: webhook
    port: 80
    targetPort: 8080
    protocol: TCP
  selector:
    app: headwind
---
apiVersion: v1
kind: Service
metadata:
  name: headwind-api
  namespace: headwind-system
  labels:
    app: headwind
spec:
  type: ClusterIP
  ports:
  - name: api
    port: 80
    targetPort: 8081
    protocol: TCP
  selector:
    app: headwind
---
apiVersion: v1
kind: Service
metadata:
  name: headwind-ui
  namespace: headwind-system
  labels:
    app: headwind
spec:
  type: ClusterIP
  ports:
  - name: ui
    port: 80
    targetPort: 8082
    protocol: TCP
  selector:
    app: headwind
---
apiVersion: v1
kind: Service
metadata:
  name: headwind-metrics
  namespace: headwind-system
  labels:
    app: headwind
spec:
  type: ClusterIP
  ports:
  - name: metrics
    port: 9090
    targetPort: 9090
    protocol: TCP
  selector:
    app: headwind
